.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px 20px;
    position: relative;
    width: 100%;
  }
  
  .footer h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .footer p {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .footer a {
    color: #facc15;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  