.hero {
    position: relative;
    width: 60%;
    left: 40%;
    height: 100vh; /* 画面いっぱいに表示 */
    background: url("/hero.svg") no-repeat right center/cover;
  }
  
.overlay {
    position: absolute;
    top: 45%;
    left: -28%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #511818;
}

.overlay h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.overlay p {
    font-size: 1.5rem;
    opacity: 0.8;
}
  